extends layout 

block content 
            h1 Book 
            h2 #{book.title}
            p #{book.author}
            p #{book.genre}
            p #{book.year}
            p
                a(class="button" href=`/${book.id}/edit`) Update Book
            p
                a(class="button" href=`/${book.id}/delete`) Delete Book
            p
                a(class="button" href="/") Back